.card {
  border-radius: 0 0 4px 4px;
  background-color: #000;
  color: #fff;
  transition: all 0.3s;
}

.card:hover {
  opacity: 0.8;
}

.cardImagem img {
  border-radius: 4px 4px 0 0;
}

.cardTexto {
  padding: 16px 8px;
  display: grid;
  gap: 20px;
  padding-bottom: 20px;
}

.cardDecorador {
  height: 1px;
  background-color: #595959;
  border-radius: 2px;
}

.precoPix {
  font-size: 22px;
  font-weight: bold;
}

.precoPix span {
  font-size: 12px;
}

.precoParcelado {
  font-size: 14px;
}

.botaoComprar {
  padding: 16px 32px;
  margin: 10px 20px;
  font-weight: bold;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.4s;
  letter-spacing: 0.05rem;
}

.botaoComprar:hover {
  background-color: #000;
  color: white;
  outline: 2px solid #ccc;
}
