/* .slide {
  margin-bottom: 900px;
  background: url(../../../img/slide/slide0.jpg);
  background-size: cover;
  color: #fff;
} */

.slideTexto {
  height: 360px;
  display: grid;
  gap: 10px;
  text-align: end;
  padding-right: 60px;
}

.slideTexto h1 {
  align-self: end;
}

.slideButtons {
  justify-content: space-between;
  position: relative;
  display: flex;
  top: -150px;
  max-width: 1400px;
}

.arrowButton {
  /* border-radius: 50%; */
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  display: grid;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.arrowButton:hover {
  background-color: #f0f0f0;
}

.left,
.right {
  border: solid #111;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.slideControl {
  display: flex;
  justify-content: center;
  gap: 40px;
  position: relative;
  bottom: 10px;
}

.square {
  height: 20px;
  width: 20px;
  border: 2px solid black;
}

.active {
  background-color: #f0f0f0;
}
