* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #333;
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: Skorzhen;
  src: url("../fonts/FTY\ SKORZHEN\ NCV.ttf");
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
}

button {
  border: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1200px;
  padding: 40px 20px 0px 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
  color: #f7f7f7;
  position: relative;
}

.titulo-container {
  font-size: 40px;
  color: #f7f7f7;
  font-family: Skorzhen;
  margin-bottom: 40px;
  letter-spacing: 0.125rem;
}

.titulo-container::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 5px;
  background-color: #b2b2b2;
  bottom: -8px;
}
