* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #333;
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: Skorzhen;
  src: url("../fonts/FTY\ SKORZHEN\ NCV.ttf");
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
}

button {
  border: none;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

form {
  display: grid;
  gap: 12px;
  margin-bottom: 72px;
}

label {
  font-size: 28px;
  color: #fff;
}

input,
textarea {
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #dedede;
  font-size: 20px;
  outline: none;
  border: 2px solid #333;
}

input:focus,
textarea:focus {
  background-color: white;
  border-color: #895b34;
}

textarea {
  resize: none;
}

.container {
  max-width: 1200px;
  padding: 40px 20px 0px 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
  color: #f7f7f7;
  position: relative;
}

.titulo-container {
  font-size: 40px;
  color: #f7f7f7;
  font-family: Skorzhen;
  margin-bottom: 40px;
  letter-spacing: 0.125rem;
}

.titulo-container::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 5px;
  background-color: #b2b2b2;
  bottom: -8px;
}

.botaoAcao {
  margin-top: 12px;
  padding: 16px 32px;
  width: 20%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s all;
  letter-spacing: 0.0625em;
}

.botaoAcao:hover {
  background-color: black;
  color: white;
  outline: 2px solid #ccc;
  font-size: 20px;
}
