form {
  display: grid;
  gap: 12px;
  margin-bottom: 72px;
}

label {
  font-size: 28px;
  color: #fff;
}

input,
textarea {
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #dedede;
  font-size: 20px;
  outline: none;
  border: 2px solid #333;
}

input:focus,
textarea:focus {
  background-color: white;
  border-color: #895b34;
}

textarea {
  resize: none;
}

button {
  margin-top: 12px;
  padding: 16px 32px;
  width: 20%;
}
