.customConteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 60px;
}
.customLista {
  display: grid;
  gap: 20px;
  justify-content: center;
}

.customLista li {
  display: grid;
  justify-content: end;
  align-items: top;
  overflow: hidden;
}

.customLista li img {
  height: 100%;
  cursor: pointer;
  transition: all 0.4s;
}

.customLista li:hover {
  outline: 2px solid #ccc;
}

.customLista li:hover img {
  transform: scale(1.5);
  transform-origin: 50% 50%;
}
