.container {
  background-color: #000;
}

.content {
  display: flex;
  justify-content: space-between;
  color: #fff;
  max-width: 1200px;
  height: 72px;
  margin: 0 auto;
  box-sizing: border-box;
  align-items: center;
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo p {
  text-align: center;
  line-height: 1.3;
  font-size: 20px;
}

.nav {
  display: flex;
  gap: 20px;
  color: #fff;
  align-items: center;
}
