.destaque {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 60px;
}

.destaque li {
  cursor: pointer;
}

.destaque li img {
  transition: all 0.5s ease-out 0.3s;
}
