.container {
  background-image: url("../img/bgFooter.jpg");
  color: #fff;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contato {
  display: grid;
  gap: 20px;
  padding-bottom: 40px;
}

.contato li {
  position: relative;
  margin-left: 10px;
}

.contato li::before {
  content: "";
  position: absolute;
  height: 7px;
  width: 7px;
  left: -15px;
  bottom: 5px;
  background-color: #63462d;
  transform: rotate(45deg);
}

.socialMedias {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}

.content img {
  align-self: start;
}
