.container {
  background-color: #000;
}

.content {
  display: flex;
  justify-content: space-between;
  color: #fff;
  max-width: 1200px;
  padding: 10px 20px;
  margin: 0 auto;
  box-sizing: border-box;
  align-items: center;
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo p {
  text-align: center;
  line-height: 1.25;
  font-size: 24px;
  font-family: "Skorzhen";
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.nav ul {
  display: flex;
  gap: 20px;
  color: #fff;
  align-items: center;
}

.nav ul li a {
  padding: 16px 0;
}
